body {
    margin: 0;
    padding: 0;
    font-family:Inter;
    color: rgb(0, 139, 232)
}

#header{
    background-color:#63f5ef;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{ 
    font-weight: 700;
    font-optical-sizing:auto;
    font-size:80px;
    margin-top: 100px;
    padding: 0;
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
    font-size: 50px;
}

#hero{
    text-align: center;
}

h3{
    font-size: 30px;
}


.ski-img{
    margin-top: 50px;
    width: 400px;
    height: 300px;
    padding: 0;
    object-fit: fill;
    display: block;
}

.text{
    width:30%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
}

p{
    color:black ;
}

#projects{
    margin-top: 10%;
    text-align: center;
}

.projects-container{
    display: flex;
    justify-content: space-evenly;
    
}

.project-card{

    width: 30%;
}

.project-card > img {
    margin-top: 10%;
    object-fit: cover;
    border-radius: 50%;
    width:50%;
    height:50%;

}

ul{
    display: flex;
    justify-content: space-evenly;
    background-color:#63f5ef;
    margin-bottom: 0;
    padding: 20px;
}
li{
    list-style-type: none;
}